
@*<div data-page="tables_editable">
     BEGIN WRAPPER 
    <div id="wrapper">
        <div id="main-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 table-responsive table-red">
                                    <table class="table table-striped table-hover dataTable" id="table-editable">
                                        <thead>
                                            <tr role="row">
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Points</th>
                                                <th>Status</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Smith</td>
                                                <td>John</td>
                                                <td>435</td>
                                                <td>super Admin</td>
                                                <td class="text-center">
                                                    <a class="edit btn btn-dark" href="javascript:;"><i class="fa fa-pencil-square-o"></i>Edit</a>  <a class="delete btn btn-danger" href="javascript:;"><i class="fa fa-times-circle"></i> Remove</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Johnson</td>
                                                <td>Alexa</td>
                                                <td>220</td>
                                                <td>super Admin</td>
                                                <td class="text-center">
                                                    <a class="edit btn btn-dark" href="javascript:;"><i class="fa fa-pencil-square-o"></i>Edit</a>  <a class="delete btn btn-danger" href="javascript:;"><i class="fa fa-times-circle"></i> Remove</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Brown</td>
                                                <td>Bobby</td>
                                                <td>545</td>
                                                <td>super Admin</td>
                                                <td class="text-center">
                                                    <a class="edit btn btn-dark" href="javascript:;"><i class="fa fa-pencil-square-o"></i>Edit</a>  <a class="delete btn btn-danger" href="javascript:;"><i class="fa fa-times-circle"></i> Remove</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Miller</td>
                                                <td>James</td>
                                                <td>525</td>
                                                <td>ipsume dolor</td>
                                                <td class="text-center">
                                                    <a class="edit btn btn-dark" href="javascript:;"><i class="fa fa-pencil-square-o"></i>Edit</a>  <a class="delete btn btn-danger" href="javascript:;"><i class="fa fa-times-circle"></i> Remove</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Harris</td>
                                                <td>Samantha</td>
                                                <td>567</td>
                                                <td class="center">nothing</td>
                                                <td class="text-center">
                                                    <a class="edit btn btn-dark" href="javascript:;"><i class="fa fa-pencil-square-o"></i>Edit</a>  <a class="delete btn btn-danger" href="javascript:;"><i class="fa fa-times-circle"></i> Remove</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Thomson</td>
                                                <td>Scott</td>
                                                <td>435</td>
                                                <td>super Admin</td>
                                                <td class="text-center">
                                                    <a class="edit btn btn-dark" href="javascript:;"><i class="fa fa-pencil-square-o"></i>Edit</a>  <a class="delete btn btn-danger" href="javascript:;"><i class="fa fa-times-circle"></i> Remove</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Aishmen</td>
                                                <td>Samuel</td>
                                                <td>435</td>
                                                <td>super Admin</td>
                                                <td class="text-center">
                                                    <a class="edit btn btn-dark" href="javascript:;"><i class="fa fa-pencil-square-o"></i>Edit</a>  <a class="delete btn btn-danger" href="javascript:;"><i class="fa fa-times-circle"></i> Remove</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Addams</td>
                                                <td>Kim</td>
                                                <td>435</td>
                                                <td>super Admin</td>
                                                <td class="text-center">
                                                    <a class="edit btn btn-dark" href="javascript:;"><i class="fa fa-pencil-square-o"></i>Edit</a>  <a class="delete btn btn-danger" href="javascript:;"><i class="fa fa-times-circle"></i> Remove</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Morris</td>
                                                <td>Heather</td>
                                                <td>987</td>
                                                <td>ipsume dolor</td>
                                                <td class="text-center">
                                                    <a class="edit btn btn-dark" href="javascript:;"><i class="fa fa-pencil-square-o"></i>Edit</a>  <a class="delete btn btn-danger" href="javascript:;"><i class="fa fa-times-circle"></i> Remove</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Aster</td>
                                                <td>Fred</td>
                                                <td>567</td>
                                                <td class="center">nothing</td>
                                                <td class="text-center">
                                                    <a class="edit btn btn-dark" href="javascript:;"><i class="fa fa-pencil-square-o"></i>Edit</a>  <a class="delete btn btn-danger" href="javascript:;"><i class="fa fa-times-circle"></i> Remove</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Carry</td>
                                                <td>John</td>
                                                <td>987</td>
                                                <td>ipsume dolor</td>
                                                <td class="text-center">
                                                    <a class="edit btn btn-dark" href="javascript:;"><i class="fa fa-pencil-square-o"></i>Edit</a>  <a class="delete btn btn-danger" href="javascript:;"><i class="fa fa-times-circle"></i> Remove</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Paul</td>
                                                <td>Billy</td>
                                                <td>567</td>
                                                <td class="center">nothing</td>
                                                <td class="text-center">
                                                    <a class="edit btn btn-dark" href="javascript:;"><i class="fa fa-pencil-square-o"></i>Edit</a>  <a class="delete btn btn-danger" href="javascript:;"><i class="fa fa-times-circle"></i> Remove</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            </div>

        </div>
        <script src="jquery.dataTables.min.js"></script>
        <script src="table_editable.js"></script>
</div>*@

@model IEnumerable<MobileMart.DB.ViewModel.DisplayProductViewModel>

@{
    ViewBag.Title = "DisplayProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h2>DisplayProduct</h2>
<div class="form-group">
    <input type="text" id="SearchBox" class="form-control" placeholder="Search">
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p><table class="table table-striped table-hover dataTable" id="table-editable">
        <tr class="row">
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.ProductImage1)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.ProductImage2)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.ProductImage3)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.ProductImage4)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.ProductDetail)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.IsActive)
            </th>

            <th class="col-md-2"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="row">
                <td class="col-md-1">
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td class="col-md-1">
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
                <td class="col-md-1">
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td class="col-md-1">
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td class="col-md-1"><img src="@Url.Content(item.ProductImage1)" width="50" class="img-thumbnail"></td>
                <td class="col-md-1"><img src="@Url.Content(item.ProductImage2)" width="50" class="img-thumbnail"></td>
                <td class="col-md-1"><img src="@Url.Content(item.ProductImage3)" width="50" class="img-thumbnail"></td>
                <td class="col-md-1"><img src="@Url.Content(item.ProductImage4)" width="50" class="img-thumbnail"></td>
                <td class="col-md-1">
                    @Html.DisplayFor(modelItem => item.ProductDetail)
                </td>
                <td class="col-md-1">
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td class="col-md-1">
                    @*@Html.DisplayFor(modelItem => item.IsActive)*@
                    @if (item.IsActive == true) {
                        <label class="ToActive" id="ToActive_@item.ProductID">Active</label>
                    }
                    else
                    {
                        <label class="ToActive" id="ToActive_@item.ProductID">De-Active</label>
                    }
                </td>

                <td class="col-md-2">

                    @Html.ActionLink(" ", "EditProduct", new { id = item.ProductID }, new { @class = "glyphicon glyphicon-edit" })
                    
                    <button value="@item.ProductID" onclick="ActiveInactive(@item.ProductID)" >
                        <i class="glyphicon glyphicon-circle-arrow-right"></i>
                    </button>
                    @*@Html.ActionLink(" ", " ", new { id = item.ProductID },new { @class = "glyphicon glyphicon-remove "})*@    
                    
                </td>
            </tr>
        }

    </table>

@section scripts{
<script>
$(document).ready(function () {
    $("#SearchBox").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/Ajax/SearchProduct",
                type: "POST",
                dataType: "json",
                data: { Prefix: request.term },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.Name, value: item.Name };
                    }))
                }
            })
        },
        messages: {
            noResults: "", results: function (resultsCount) { }
        }
    });
})

function ActiveInactive(productID) {
    debugger;
    var id = productID;
    $.ajax({
        url: "@Url.Action("IsActive", "ShopOwner")",
        method: "POST",
    data: { productID: id },
    success: function (data) {
            debugger;
            if (data =="True") {
                $("#ToActive_"+id).empty();
                $("#ToActive_" + id).append("Active");
            }
            else{
                $("#ToActive_" + id).empty();
                $("#ToActive_" + id).append("De-Active");
            }
        }
    });
}
  
</script>
}
