@model MobileMart.DB.ViewModel.CartDisplayViewModel
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <!-- Start page content -->
<section id="page-content" class="page-wrapper">
    <!-- SHOP SECTION START -->
    <div class="shop-section mb-80">
        <div class="container">
            <div class="row">
                @Html.Partial("_CartSideMenu")
                <div class="col-md-10 col-sm-12">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <!-- shopping-cart start -->
                        <div class="tab-pane active" id="shopping-cart">
                            <div class="shopping-cart-content">
                                <div class="table-content table-responsive mb-50">
                                    <table class="text-center">
                                        <thead> 
                                            <tr>
                                                <th class="product-thumbnail">product</th>
                                                <th class="product-price">price</th>
                                                <th class="product-quantity">Quantity</th>
                                                <th class="product-subtotal">total</th>
                                                <th class="product-remove">remove</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                            {
                                            <!-- tr -->
                                                foreach (var item in Model.Cart)
                                                {
                                                <tr id="CartItem_@item.ProductID">
                                                    <td class="product-thumbnail">
                                                        <div class="pro-thumbnail-img">
                                                            <img src="@Url.Content(item.ProductDetail.ProductImage1)" alt="Product Thumbnail">
                                                        </div>
                                                        <div class="pro-thumbnail-info text-left">
                                                            <h6 class="product-title-2">
                                                                <a href="#">@item.ProductDetail.ProductName</a>
                                                            </h6>
                                                            <p>Brand: </p>
                                                            <p>Model: @item.ProductDetail.ProductName</p>
                                                            <p> Color: @item.ProductDetail.Color</p>
                                                        </div>
                                                    </td>
                                                    <td class="product-price">$@item.ProductDetail.Price</td>
                                                    <td class="product-quantity"><label>@item.Quantity</label></td>
                                                    <td class="product-subtotal">$@(item.ProductDetail.Price * item.Quantity)</td>
                                                    <td class="product-remove">
                                                        <button value="@item.ProductID" onclick="RemoveItem(this)"><i class="glyphicon glyphicon-trash"></i></button>
                                                    </td>
                                                </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- shopping-cart end -->
                        <!-- checkout start -->
                        <div class="tab-pane" id="checkout">
                            <div class="checkout-content box-shadow p-30">
                                <div class="row">
                                    <!-- billing details -->
                                    <div class="col-md-6">
                                        @using (Html.BeginForm("Checkout", "Cart", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                        {
                                            <div class="billing-details pr-10">
                                                <h6 class="widget-title border-left mb-20">Shipping details</h6>

                                                @Html.TextBoxFor(m => m.Mobile , new { @placeholder = "Phone Number..." })
                                                <br />
                                                @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })

                                                @Html.TextBoxFor(m => m.Address, new { @placeholder = "Shipping Address..." })
                                                <br />

                                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                                <br />

                                                <select class="custom-select">
                                                    <option value="defalt">Select Payment Method</option>
                                                    <option value="c-1">PayPal</option>
                                                </select>
                                                <br />

                                                <input type="submit" class="submit-btn-1 mt-30 btn-hover-1" value="Place order" />
                                            </div>
                                        }
                                    </div>
                                    @{
                                            var quantityCount = 0;
                                            decimal total = 0;
                                            foreach (var item in Model.Cart)
                                            {
                                                quantityCount = item.Quantity + quantityCount;
                                                var price = item.ProductDetail.Price * item.Quantity;
                                                total = price + total;
                                            }
                                            <div class="col-md-6">
                                                <!-- our order -->
                                                <div class="payment-details pl-10 mb-50">
                                                    <h6 class="widget-title border-left mb-20">our order</h6>
                                                    <table>
                                                        <tr>
                                                            <td class="td-title-1">Products Total</td>
                                                            <td class="td-title-2">@total</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="td-title-1">Tax</td>
                                                            <td class="td-title-2">100.00Rs</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="td-title-1">Shipping</td>
                                                            <td class="td-title-2">200.00Rs</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="order-total">Order Total</td>
                                                            <td class="order-total-price">@(total + 100 + 200)Rs</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <!-- checkout end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SHOP SECTION END -->
    @*<div class="form-group">
        <label>In-line Checkout Experience</label>
        <p>
            <a href="@Url.Action("Checkout", "Cart")" class="btn btn-warning">Checkout with PayPal</a>
        </p>
    </div>*@
    
</section>
<!-- End page content -->
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function RemoveItem(obj) {
            var value = obj.value;
            $.ajax({
                url: "/Cart/DeleteItemFromCart",
                type: "POST",
                datatype: "json",
                data: { productID: value, },
                success: function (data) {
                    debugger;
                    $(".TagToRemove").remove();
                    $("#CartItem_" + value).remove();
                    var quantity = parseInt(0);
                    var total = parseFloat(0.0);
                    for (var i = 0; i < data.length; i++) {
                        quantity = data[i].quantity + quantity;
                        $("#QuickCartView").append("<div class=\"TagToRemove\"><div class=\"single-cart clearfix\"><div class=\"cart-img f-left\"><a href= \"#\" ><img src='" + data[i].ProductDetail.ProductImage1.replace(/~/g, '') + "' alt=\"Cart Product\"></a><div class=\"del-icon\"><button class=\"btn-hover-2 DeleteItemFromCart\" onclick=\"f1(this)\" value=" + data[i].ProductID + "><i class=\"glyphicon glyphicon-trash\"></i></button></div></div><div class=\"cart-info f-left\"><a href=\"\"><h6 class=\"text-capitalize\">" + data[i].ProductDetail.ProductName + "</h6></a><p>Quantity<span><strong>:</strong></span>" + data[i].Quantity + "</p><p>Color<span><strong>:</strong></span> " + data[i].ProductDetail.Color + "</p><p>Price<span><strong>:</strong></span> " + data[i].ProductDetail.Price * data[i].Quantity + "</p></div></div></div >");
                        var price = data[i].ProductDetail.Price * data[i].Quantity;
                        total = price + total;
                    }
                    $(".cart-quantity").html(quantity);
                    //Updating Cart Total
                    $("#CartTotal").html(total);
                }
            })
        }

    </script>
}
