@model IEnumerable<MobileMart.DB.ViewModel.DisplayShopViewModel>

@{
    ViewBag.Title = "DisplayAllShops";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Shops</h2>

<p>
    @Html.ActionLink("Create New", "CreateShop", "Admin" )
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OwnerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerProfile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productcount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopLogo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopCreatedOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerName)
        </td>
        <td>
            <img src="@Url.Content(item.OwnerProfile )" alt="Alternate Text" class="img-rounded" height="100" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact)
        </td>
        <td>
            <a href="@Url.Action("DisplayProductbyid", "Admin", new { id = item.ShopID })">
            @Html.DisplayFor(modelItem => item.productcount)
            </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopName)
        </td>
        <td>
            <img src="@Url.Content(item.ShopLogo)" alt="Alternate Text" class="img-rounded" height="100" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopCreatedOn)
        </td>
        <td>
            <a href="@Url.Action("EditOwner", "Admin", new { ownerID = item.OwnerID })" >
                <span>
                    <i class="glyphicon glyphicon-edit" ></i>
                </span>
            </a>

            <a href="@Url.Action("DeleteShop", "Admin", new { UserID = item.UserID })">
                <span>
                    <i class="glyphicon glyphicon-trash"></i>
                </span>
            </a>
            @*@Html.ActionLink("Edit", "EditShop", new {  id=item.OwnerID }) |
            @Html.ActionLink("Delete", "DeleteShop", new { id = item.OwnerID })*@
        </td>
    </tr>
}

</table>
