@model IEnumerable<MobileMart.DB.ViewModel.DisplayShopViewModel>

@{
    ViewBag.Title = "DisplayAllShops";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>DisplayAllShops</h2>

<p>
    @Html.ActionLink("Create New", "CreateShop", "Admin" )
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OwnerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerProfile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerCreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopLogo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopCreatedOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerName)
        </td>
        <td>
            <img src="@Url.Content(item.OwnerProfile )" alt="Alternate Text" class="img-rounded" height="100" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerCreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopName)
        </td>
        <td>
            <img src="@Url.Content(item.ShopLogo)" alt="Alternate Text" class="img-rounded" height="100" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopCreatedOn)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditShop", new {  id=item.OwnerID }) |
            @Html.ActionLink("Delete", "DeleteShop", new { id = item.OwnerID })
        </td>
    </tr>
}

</table>
