@model MobileMart.DB.ViewModel.ShopReportViewModel

@{
    ViewBag.Title = "DisplayAllShops";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Shops</h2>

<p>
    @Html.ActionLink("Create New", "CreateShop", "Admin")
</p>
@using (Html.BeginForm("DisplayAllShops", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group form-inline">
                <div class="col-md-5">
                    <label for="From" style="cursor:pointer">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </label>
                    @Html.TextBoxFor(m => m.From, new { @class = "form-control", @placeholder = "From", @hidden = "hidden" })
                    @Html.ValidationMessageFor(m => m.From, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-5">
                    <label for="To" style="cursor:pointer">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </label>
                    @Html.TextBoxFor(m => m.To, new { @class = "form-control", @placeholder = "To", @max = DateTime.Now })
                    @Html.ValidationMessageFor(m => m.To, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2">
                    <input type="submit" name="Find" value="Find" class="btn btn-primary btn-sm" />
                </div>
            </div>
        </div>
    </div>
}

<div class="row" id="ShopsToPrint">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h1><span><i onclick="Print('ShopsToPrint')" class="fa fa-print pull-right" style="cursor:pointer" title="Print"></i></span></h1>
        <table class="table table-striped table-hover dataTable" id="table-editable">
            <thead>
                <tr role="row">
                    <th>
                        Owner Name
                    </th>
                    <th>
                        Profile Photo</th>
                    <th>
                        Mobile
                    </th>
                    <th>
                        Shop Name
                    </th>
                    <th>
                        Shop Logo
                    </th>
                    <th>
                        Address    
                    </th>
                    <th>
                        Products
                    </th>
                    <th>
                        Created
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Shops)
                {
                    <tr id='@("DeleteShop"+item.ShopID)'>
                        <td>
                            @Html.DisplayFor(modelItem => item.OwnerName)
                        </td>
                        <td>
                            <img src="@Url.Content(item.OwnerProfilePath )" alt="Alternate Text" class="img-rounded" height="100" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Contact)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShopName)
                        </td>
                        <td>
                            <img src="@Url.Content(item.ShopLogo)" alt="Alternate Text" class="img-rounded" height="100" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShopAddress)
                        </td>
                        <td>
                            <a href="@Url.Action("DisplayAllProduct", "Admin", new { id = item.ShopID })">
                                @Html.DisplayFor(modelItem => item.productcount)
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShopCreatedOn)
                        </td>
                        <td>
                            <a href="@Url.Action("EditOwner", "Admin", new { ownerID = item.OwnerID })" class="btn glyphicon glyphicon-edit"></a>
                            @*<a href="@Url.Action("DeleteShop", "Admin", new { UserID = item.UserID })" class="glyphicon glyphicon-trash"></a>*@
                            <a class="btn glyphicon glyphicon-trash" onclick="DeleteShop('@item.UserID',@item.ShopID)" value="@item.UserID"></a>
                            
                            @*@Html.ActionLink("Edit", "EditShop", new {  id=item.OwnerID }) |
                            @Html.ActionLink("Delete", "DeleteShop", new { id = item.OwnerID })*@
                        </td>
                    </tr>
                }
                </tbody>
        </table>
    </div>
</div>
@section scripts{
<script type="text/javascript">
        $(function () {
            var dateFormat = "mm/dd/yy",
                from = $("#From")
                    .datepicker({
                        defaultDate: "+1w",
                        changeMonth: true,
                        numberOfMonths: 1
                    })
                    .on("change", function () {
                        to.datepicker("option", "minDate", getDate(this));
                    }),
                to = $("#To").datepicker({
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 1
                })
                    .on("change", function () {
                        from.datepicker("option", "maxDate", getDate(this));
                    });

            function getDate(element) {
                var date;
                try {
                    date = $.datepicker.parseDate(dateFormat, element.value);
                } catch (error) {
                    date = null;
                }

                return date;
            }
        });
        $(document).ready(function () {
            $("#From").val("");
            $("#To").val("");

        });
</script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    @*<script src="~/Scripts/jquery-1.11.js"></script>*@
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/table_editable.js"></script>

    <script type="text/javascript">
        function DeleteShop(userID , ShopID) {
            var id = userID;
            var shopID = ShopID;
            $.ajax({
                url: "@Url.Action("DeleteShop", "Admin")",
                method: "POST",
                data: { UserID: id },
                success: function (data) {
                    $("#DeleteShop" + ShopID).remove();
                }
            });
        };
    </script>
}