@using MobileMart.DB.ViewModel
@model CustomerDetailViewModel
<div class="box">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion2" href="#personal_info1">Change Password</a>
            </h4>
        </div>
        <div id="personal_info1" class="panel-collapse collapse in" role="tabpanel">
            <div class="panel-body">
                @using (Html.BeginForm("ChangeCustomerPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="new-customers">
                        <div class="p-30">
                            <div class="row">
                                @Html.ValidationMessageFor(model => model.ChangePassword.OldPassword, "", new { @class = "text-danger" })
                                @Html.PasswordFor(m => m.ChangePassword.OldPassword, new { @class = "form-control" ,@placeholder ="Old Password" })

                                @Html.ValidationMessageFor(model => model.ChangePassword.NewPassword, "", new { @class = "text-danger" })
                                @Html.PasswordFor(m => m.ChangePassword.NewPassword, new { @class = "form-control", @placeholder = "New Password" })

                                @Html.ValidationMessageFor(model => model.ChangePassword.ConfirmPassword, "", new { @class = "text-danger" })
                                @Html.PasswordFor(m => m.ChangePassword.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm new Password" })


                                <div class="row">
                                    <div class="col-md-6">
                                        <button class="submit-btn-1 mt-20 btn-hover-1" type="submit" value="register">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>