<!DOCTYPE html>
@using MobileMart.DB.ViewModel;
@{ 
    MobileMart.DB.ViewModel.HomeLayoutViewModel layoutData = ViewBag.LayoutData;
}

@{
    CartSessionViewModel obj = new CartSessionViewModel();
    int quantityCount = 0;
    decimal total = 0;
    List<CartSessionViewModel> list = (List<CartSessionViewModel>)Session["Cart"];
    if (Session["Cart"] != null)
    {
        for (int i = 0; i < list.Count(); i++)
        {
            quantityCount = list[i].Quantity + quantityCount;
            var price = list[i].ProductDetail.Price * list[i].Quantity;
            total = price + total;
        }
        if (quantityCount == 0 || quantityCount < 0)
        {
            quantityCount = 0;
        }
    }
}
<html>
<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home</title>
    <meta name="description" content="">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Images/Icons/favicon.png">
    @*@Styles.Render("~/Content/css")*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/nivo-slider.css" rel="stylesheet" />
    <link href="~/Content/shortcode/shortcodes.css" rel="stylesheet" />
    <link href="~/Content/color-core.css" rel="stylesheet" />
    <link href="~/Content/default.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
    <link href="~/Content/core.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/responsive.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="wrapper">
        <header class="header-area header-wrapper">
            <!-- header-top-bar -->
            <div class="header-top-bar plr-185">
                <div>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
            <!-- header-middle-area -->
            <div class="header-middle-area plr-185">
                <div class="container-fluid">
                    <div class="full-width-mega-dropdown">
                        <div class="row">
                            <!-- logo -->
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="logo">
                                    <a href="@Url.Action("Index", "Home")">
                                        <img src="~/Content/DefaultImages/Logo/logo1.png" alt="main logo" height="90" width="90"/>
                                    </a>
                                </div>
                            </div>
                            <!-- primary-menu -->
                            <div class="col-md-8 hidden-sm hidden-xs">
                                <nav id="primary-menu">
                                    <ul class="main-menu text-center">
                                        <li>
                                            <a href="@Url.Action("Index","Home")">Home</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Companies","Home")">
                                                Brands
                                            </a>
                                            <ul class="dropdwn">
                                                @foreach (var item in layoutData.Company)
                                                {
                                                    <li>
                                                        <a href="@Url.Action("ProductsByBrand", "Home", new { companyID = @item.CompanyId})">@item.CompanyName</a>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                        <li class="mega-parent">
                                            <a href="@Url.Action("NewProducts", "Home")">New</a>
                                            <div class="mega-menu-area clearfix">
                                                <div class="mega-menu-link f-left">
                                                   @foreach (var item in layoutData.Category.Where(a=> a.ParentCategoryID == null))
                                                    {
                                                        <ul class="single-mega-item">
                                                            <li class="menu-title"><a href="@Url.Action("NewItems","Home", new {categoryID = @item.CategoryID})">@item.CategoryName</a></li>
                                                            @foreach (var subItem in layoutData.Category.Where(s=> s.ParentCategoryID == item.CategoryID))
                                                            {
                                                            <li>
                                                                <a href="@Url.Action("ProductBySubCategory","Home", new { categoryID = @item.CategoryID, subCategoryID = @subItem.CategoryID })">@subItem.CategoryName</a>
                                                            </li>
                                                            }
                                                        </ul>
                                                    }
                                                </div>
                                                <div class="mega-menu-photo f-left">
                                                    <a href="#">
                                                        <img src="~/Content/DefaultImages/lg-g6-2.jpg" alt="mega menu image"/>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mega-parent">
                                            <a href="@Url.Action("OldProducts", "Home")">Old</a>
                                            <div class="mega-menu-area clearfix">
                                                <div class="mega-menu-photo f-left">
                                                    <a href="#">
                                                        <img src="~/Content/DefaultImages/samsung-galaxy-s8-.jpg" alt="mega menu image" />
                                                    </a>
                                                </div>
                                                <div class="mega-menu-link f-left">
                                                    @foreach (var item in layoutData.Category.Where(a => a.ParentCategoryID == null && a.CategoryID !=2 ))
                                                    {
                                                        <ul class="single-mega-item">
                                                            <li class="menu-title"><a href="@Url.Action("OldItems","Home", new {categoryID = @item.CategoryID})">@item.CategoryName</a></li>
                                                            @foreach (var subItem in layoutData.Category.Where(s => s.ParentCategoryID == item.CategoryID))
                                                            {
                                                                <li>
                                                                    <a href="@Url.Action("ProductsByCategories","Home", new { categoryID = @item.CategoryID, subCategoryID = @subItem.CategoryID })">@subItem.CategoryName</a>
                                                                </li>
                                                            }
                                                        </ul>
                                                    }
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("AllProducts","Home")">Products</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("About","Home")">About us</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Contact","Home")">Contact</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- header-search & total-cart -->
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="search-top-cart  f-right">
                                    <!-- header-search -->
                                    <div class="header-search f-left">
                                        <div class="header-search-inner">
                                            <button class="search-toggle">
                                                <i class="zmdi zmdi-search"></i>
                                            </button>
                                            <form action="#">
                                                <div class="top-search-box pull-right">
                                                    <input type="text" id="SearchBox" class="pull-right" placeholder="Search here your product...">
                                                    <button type="submit">
                                                        <i class="zmdi zmdi-search"></i>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- total-cart -->
                                    <div class="total-cart f-left">
                                        <div class="total-cart-in">
                                            <div class="cart-toggler">
                                                <a href="#">
                                                    <span class="cart-quantity">
                                                        @quantityCount
                                                    </span>
                                                    <br>
                                                    <span class="cart-icon">
                                                        <i class="glyphicon glyphicon-shopping-cart"></i>
                                                    </span>
                                                </a>
                                            </div>
                                            <ul>
                                                <li>
                                                    <div class="top-cart-inner your-cart">
                                                        <h5 class="text-capitalize">Your Cart</h5>
                                                    </div>
                                                </li>
                                                <li id="QuickCartView">
                                                    @if (list != null)
                                                    {
                                                        foreach (var item in list)
                                                        {
                                                            <div class="TagToRemove">
                                                                <div class="single-cart clearfix">
                                                                    <div class="cart-img f-left">
                                                                        <a href="">
                                                                            <img src="@Url.Content(item.ProductDetail.ProductImage1)" alt="Cart Product" height="100" width="125">
                                                                        </a>
                                                                        <div class="del-icon">
                                                                            <button class="btn-hover-2 DeleteItemFromCart" onclick="f1(this)" value="@item.ProductID"><i class="glyphicon glyphicon-trash"></i></button>
                                                                        </div>
                                                                    </div>
                                                                    <div class="cart-info f-left">
                                                                        <h6 class="text-capitalize"><a href="">@item.ProductDetail.ProductName</a></h6>
                                                                        <p>Quantity<span><strong>:</strong></span>@item.Quantity</p>
                                                                        <p>Color<span><strong>:</strong></span>@item.ProductDetail.Color</p>
                                                                        <p>Price<span><strong>:</strong></span>@(item.ProductDetail.Price * item.Quantity)</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                </li>
                                                <li>
                                                    <div class="top-cart-inner subtotal">
                                                        <h4 class="text-uppercase g-font-2">
                                                            Total  =
                                                            <span id="CartTotal">@total</span>
                                                        </h4>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="top-cart-inner view-cart">
                                                        <h4 class="text-uppercase">
                                                            <a href="@Url.Action("Index","Cart")">View cart</a>
                                                        </h4>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="mobile-menu-area hidden-lg hidden-md">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul>
                                <li>
                                    <a href="@Url.Action("Index","Home")">Home</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Companies","Home")">Brands</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("NewProducts","Home")">New Products</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("OldProducts","Home")">Old Products</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("AllProducts","Home")">Products</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("About","Home")">About</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Contact","Home")">Contact us</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="body-content">
        @RenderBody()
        <hr />
        <footer id="footer" class="footer-area footer-2">
            <div class="footer-top footer-top-2 text-center ptb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="footer-logo">
                                <img src="~/Content/DefaultImages/Logo/logo1.png" alt="main logo" height="90" width="90" />
                            </div>
                            <ul class="footer-menu-2">
                                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                                <li><a href="@Url.Action("AllProducts","Home")">Products</a></li>
                                <li><a href="@Url.Action("About","Home")">About us</a></li>
                                <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                                <li><a href="@Url.Action("CreateOwner","Home")"><b>Sell With Us.</b></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom footer-bottom-2 text-center gray-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-5">
                            <div class="copyright-text copyright-text-2">
                                <p>&copy; @DateTime.Now.Year - Mobile Phone Mart</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <ul class="footer-social footer-social-2">
                                <li>
                                    <a class="facebook" href="https://www.facebook.com/mobilephonemart/" title="Facebook"><i class="zmdi zmdi-facebook"></i></a>
                                </li>
                                <li>
                                    <a class="google-plus" href="https://plus.google.com/113844908382593308903" title="Google Plus"><i class="zmdi zmdi-google-plus"></i></a>
                                </li>
                                <li>
                                    <a class="twitter" href="https://twitter.com/MobilePhoneMar2" title="Twitter"><i class="zmdi zmdi-twitter"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-3">
                            <ul class="footer-payment">
                                <li>
                                    <a href="https://www.paypal.com/us/home" style="cursor:pointer"><i class="zmdi zmdi-paypal"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
    </div>


    @*<script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/jquery.nivo.slider.js"></script>
        <script src="~/Scripts/plugins.js"></script>
        <script src="~/Scripts/main.js"></script>*@
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuU_0_uLMnFM-2oWod_fzC0atPZj7dHlU"></script>*@
    @*<script src="~/Scripts/ajax-mail.js"></script>*@
    @*<script src="~/Scripts/map.js"></script>*@

    @Scripts.Render("~/bundles/FrontEndJSs")

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var number = $('.numberfield').keydown(function (e) {
                if (!((e.keyCode > 95 && e.keyCode < 106)
                    || (e.keyCode > 47 && e.keyCode < 58)
                    || e.keyCode == 8)) {
                    return false;
                }
            });
            $(function () {
                $("#DOB").datepicker({
                    changeMonth: true,
                    changeYear: true,
                });
            });
            $("#SearchBox").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Ajax/SearchProducts",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Name, value: item.Name, Route: item.Route };
                            }))
                        }
                    })
                },
                select: function (event, ui) {
                    //redirect to url
                    window.location = ui.item.Route;
                },
                messages: {
                    noResults: "", results: function (resultsCount) { }
                }
            });

            //--Add item in cart
            $('.AddToCart').click(function () {
                var value = $(this).val();
                var quantity = $("#NumberField_" + value).val();
                if (quantity < 0) {
                    quantity = 1;
                }
                $.ajax({
                    url: "/Cart/AddItemInCart",
                    type: "POST",
                    datatype: "json",
                    data: { productID: value, quantity: quantity },
                    success: function (data) {
                        if (data) {
                            $(".TagToRemove").remove();
                            //int variable empty(0)
                            var count = parseInt(0);

                            //Cart Total
                            //float variable empty
                            var total = parseFloat(0);
                            debugger;
                            //Appending Quick Cart List
                            for (var i = 0; i < data.length; i++) {
                                //rendor cart items
                                $("#QuickCartView").append("<div class=\"TagToRemove\"><div class=\"single-cart clearfix\"><div class=\"cart-img f-left\"><a href= \"#\" ><img src='" + data[i].ProductDetail.ProductImage1.replace(/~/g, '') + "' alt=\"Cart Product\" height=\"100\" width=\"125\" /></a><div class=\"del-icon\"><button class=\"btn-hover-2 DeleteItemFromCart\" onclick=\"f1(this)\" value=" + data[i].ProductID + "><i class=\"glyphicon glyphicon-trash\"></i></button></div></div><div class=\"cart-info f-left\"><a href=\"\"><h6 class=\"text-capitalize\">" + data[i].ProductDetail.ProductName + "</h6></a><p>Quantity<span><strong>:</strong></span>" + data[i].Quantity + "</p><p>Color<span><strong>:</strong></span> " + data[i].ProductDetail.Color + "</p><p>Price<span><strong>:</strong></span> " + data[i].ProductDetail.Price * data[i].Quantity + "</p></div></div></div >");
                                //unit price
                                var price = data[i].ProductDetail.Price * data[i].Quantity;
                                total = parseFloat(price) + total;
                                //cart count
                                count = count + data[i].Quantity;
                            }
                            //Cart Quantity  increment
                            debugger;
                            var previousCount = $(".cart-quantity").text();
                            if (parseInt(previousCount) == count) {
                                $(".cart-quantity").html(count);
                                alertify.success("Item is OUT OF STOCK.");
                            }
                            else {
                                $(".cart-quantity").html(count);
                                alertify.success("Item successfully added...");
                            }
                            //Updating Cart Total
                            $("#CartTotal").html(total);
                        } else {
                            alert('failed');
                        }
                    }
                })
            });
        });
        //to remove item from cart
        function f1(obj) {
            var value = obj.value;
            $.ajax({
                url: "/Cart/DeleteItemFromCart",
                type: "POST",
                datatype: "json",
                data: { productID: value, },
                success: function (data) {
                    $(".TagToRemove").remove();
                    var quantity = parseInt(0);
                    var total = parseFloat(0.0);
                    for (var i = 0; i < data.length; i++) {
                        quantity = data[i].Quantity + quantity;
                        $("#QuickCartView").append("<div class=\"TagToRemove\"><div class=\"single-cart clearfix\"><div class=\"cart-img f-left\"><a href= \"#\" ><img src='" + data[i].ProductDetail.ProductImage1.replace(/~/g, '') + "' alt=\"Cart Product\" height=\"100\" width=\"125\" /></a><div class=\"del-icon\"><button class=\"btn-hover-2 DeleteItemFromCart\" onclick=\"f1(this)\" value=" + data[i].ProductID + "><i class=\"glyphicon glyphicon-trash\"></i></button></div></div><div class=\"cart-info f-left\"><a href=\"\"><h6 class=\"text-capitalize\">" + data[i].ProductDetail.ProductName + "</h6></a><p>Quantity<span><strong>:</strong></span>" + data[i].Quantity + "</p><p>Color<span><strong>:</strong></span> " + data[i].ProductDetail.Color + "</p><p>Price<span><strong>:</strong></span> " + data[i].ProductDetail.Price * data[i].Quantity + "</p></div></div></div >");
                        var price = data[i].ProductDetail.Price * data[i].Quantity;
                        total = price + total;
                    }
                    $(".cart-quantity").html(quantity);
                    alertify.success("Item successfully Removed...");
                    //Updating Cart Total
                    $("#CartTotal").html(total);
                }
            })
        }

        $('.AddToWishList').click(function () {
            var value = $(this).val();
            $.ajax({
                url: "/Ajax/AddToWishList",
                type: "POST",
                datatype: "json",
                data: { productID: value },
                success: function (data) {
                    debugger;
                    //int variable empty(0)
                    var count = parseInt(0);
                    var count = $("#WishListCount").text();
                    $("#WishListCount").html(data);
                    alertify.success("Item successfully added...");

                }
            })
        });
        function RemoveFromWishList(obj) {
            var value = obj.value;
            $.ajax({
                url: "/Ajax/DeleteItemFromWishList",
                type: "POST",
                datatype: "json",
                data: { wishListID: value, },
                success: function (data) {
                    $("#Item_" + value).remove();
                    $("#WishListCount").html(data);
                    alertify.success("Item successfully Removed...");
                }
            })
        }
    </script>

    @RenderSection("scripts", required: false)

</body>
</html>
