@using Microsoft.AspNet.Identity
@using MobileMart.Utility
@if (Request.IsAuthenticated && Context.User.IsInRole("Customer"))
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <div class="nav navbar-nav navbar-right">
            <div class="top-link clearfix">
                <ul class="link f-right">
                    <li>
                        <a href="@Url.Action("WishList","Home")">
                            <i class="zmdi zmdi-favorite"></i>
                            Wish List (<span id = "WishListCount" > @User.Identity.GetCustomerWishList() </span>)
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("MyProfile","Home",new { customerID = User.Identity.GetCustomerID() })" title="Manage">
                            <i class="zmdi zmdi-account"></i>
                            Hello! @User.Identity.GetUserName()
                        </a>
                    </li>
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()">
                            <i class="zmdi zmdi-power-off"></i>
                            Log off
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    }
}
else
{
    <div class="nav navbar-nav navbar-right">
        <div class="top-link clearfix">
            <ul class="link f-right">
                <li>
                    <a href="@Url.Action("RegisterAndLogin","Home")" id="registerLink">
                        <i class="zmdi zmdi-lock"></i>
                        Register\Login
                    </a>
                </li>
            </ul>
        </div>
    </div>
}
