@using Microsoft.AspNet.Identity
@using MobileMart.Utility
@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
{
    @Html.AntiForgeryToken()
    <ul class="nav navbar-right top-nav">
        <li class="dropdown" id="NotificationDropDown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i><span class="badge" id="NotificationCount">0</span> <b class="caret"></b></a>
            <div class="dropdown-menu scrollable-menu">
               <ul class="dropdown-item list-group" id="OrderNotifications"></ul>
            </div>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="@Url.Content(User.Identity.GetOwnerPicture())" alt="" height="30" width="40" class="" style="background-color:none" />
                @User.Identity.GetUserName()
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="@Url.Action("Account", "ShopOwner", new { shopID = User.Identity.GetShopID() })"><i class="fa fa-fw fa-user"></i> Profile</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li>
                <img src="@Url.Content(User.Identity.GetOwnerPicture())?w=170&h=170&mode=stretch|" alt="" class="img-circle img-responsive img-rounded img-thumbnail"  />
            </li>
            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "" )">
                <a href="@Url.Action("Index", "ShopOwner")"><i class="fa fa-fw fa-dashboard"></i>Dashboard</a>
            </li>
            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "AddSupplier" ? "active" : "" )">
                <a href="@Url.Action("AddSupplier", "ShopOwner")"><i class="fa fa-fw fa-plus"></i>Insert New Product</a>
            </li>
            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "FeatureProducts" ? "active" : "" )">
                <a href="@Url.Action("FeatureProducts", "ShopOwner")"><i class="fa fa-fw fa-photo"></i>Feature Products</a>
            </li>
            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "AddCompany" ? "active" : "" )">
                <a href="@Url.Action("AddCompany", "ShopOwner")"><i class="fa fa-fw fa-plus"></i>Add New Company</a>
            </li>
            <li>
                <a href="@Url.Action("Shop", "Home", new { shopID = User.Identity.GetShopID() })"><i class="glyphicon glyphicon-link"></i> My Shop</a>
            </li>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Reports <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse">
                    <li>
                        <a href="@Url.Action("DisplayProduct", "ShopOwner")">Products</a>
                    </li>
                    <li>
                        <a href="@Url.Action("DisplaySupplier", "ShopOwner")">Suppliers</a>
                    </li>
                    <li>
                        <a href="@Url.Action("DisplayOrder", "ShopOwner")">Orders</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
}